@page "/ViewPosts"
@using Domain.Models
@using UIComponents
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IPostService postService
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavMgr
@inject IHttpClientFactory httpClientFactory

<h3>All Posts</h3>
<AuthorizeView>
    <Authorized>
        @if (posts == null)
        {
        }
        else if (!posts.Any())
        {
            <p>Hey, what are you waiting for? Start a discussion!</p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Title</th>
                    <th>Post</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in posts)
                {
                    <tr @onclick="()=>ShowPopUp(item)">
                        <td>@item.Owner.Username</td>
                        <td>@item.Title</td>
                        <td>@item.Body</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <Modal ShowModal="showModal">
            <div class="popup-content">
            <button @onclick="@GoOn">Go Back</button>
            <div class="currentPost">
                <p class="ownerTitle">@selectedPost.Owner.Username - @selectedPost.Title</p>
                <p class="currentPostBody">@selectedPost.Body</p>
                <p class="postDate">@selectedPost.DateTime</p>
            </div>
            @if (selectedPost.Owner.Username == context.User.Identity.Name)
            {
                <button @onclick="() => DeletePost(selectedPost.Id)"> Delete </button>
            }
            <hr/>
            <div>
                <label>@selectedPost.Comments.Count Comments</label>
                <div class="commentField">
                    <input type="text" @bind="commentBody" placeholder="Add a comment..."/>
                    <button @onclick="() => AddComment(selectedPost)">Comment</button>
                </div>
            </div>

            <div> <!--AIUFIASFBAJBSAFNdfcgvhbjnkmnjbvhgcfxdcgvbhnj mk,knjbhvgcfgvhbjnkmnjbhvgKJAFN-->

                <div class="voteButtons">
                    <button @onclick="() => UpvotePost(selectedPost)">Upvote</button>
                    <button @onclick="() => DownvotePost(selectedPost)">Downvote</button>
                </div>

                <p>Upvotes: @selectedPost.Upvotes</p>

            </div>


            <div>
                @foreach (var comment in selectedPost.Comments)
                {
                    <h6>@comment.Owner.Username:</h6>
                    <p>@comment.CommentBody</p>
                }
            </div>
        </div>
        </Modal>
        
        @if (!string.IsNullOrEmpty(msg))
        {
            <label style="color: red">@msg</label>
        }
    </Authorized>
    
    <NotAuthorized>
        <p>Please login to see all posts and to add comments.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private string? user;
    private bool showModal;
    private Post selectedPost;
    private IEnumerable<Post> posts;
    private string msg;
    private string? commentBody="";

    protected override async Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (user.Identity != null)
        {
            this.user = user.Identity.Name;
        }
        await LoadPosts();
    }
    private async Task LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(null,null,null);
            Console.WriteLine(posts);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg=e.Message;
        }
    }

    private void ShowPopUp(Post post)
    {
        showModal = true;
        selectedPost = post;
    }

    private void GoOn()
    {
        showModal = false;
        commentBody = "";
    }
    
    private async Task AddComment(Post post)
    {
        if (commentBody != null)
        {
            CommentCreationDto commentDto = new CommentCreationDto(user, DateTime.Now, post, commentBody);
            Comment newComment = await postService.AddCommentAsync(commentDto);  
            if (selectedPost != null)
            {
                selectedPost.Comments.Add(newComment);
            }
        
            commentBody = "";
        }
        else
        {
            msg = "comment body cannot be empty";
        }
    }
    //_______________________________________________________________________
    private async Task UpvotePost(Post post)
    {
        using (var client = httpClientFactory.CreateClient())
        {
            AddVoteDto addVoteDto = new AddVoteDto(user, post, 1); // Vote value 1 for upvote
            HttpResponseMessage response = await client.PatchAsJsonAsync("https://your-api-base-url/posts/vote", addVoteDto);

            if (response.IsSuccessStatusCode)
            {
                int updatedVoteCount = await response.Content.ReadFromJsonAsync<int>();
                selectedPost.Upvotes = updatedVoteCount;
            }
            else
            {
    // Handle the error here, e.g., display an error message
            }
        }
    }

    private async Task DownvotePost(Post post)
    {
        using (var client = httpClientFactory.CreateClient())
        {
            AddVoteDto addVoteDto = new AddVoteDto(user, post, -1); // Vote value -1 for downvote
            HttpResponseMessage response = await client.PatchAsJsonAsync("https://your-api-base-url/posts/vote", addVoteDto);

            if (response.IsSuccessStatusCode)
            {
                int updatedVoteCount = await response.Content.ReadFromJsonAsync<int>();
                selectedPost.Upvotes = updatedVoteCount;
            }
            else
            {
    // Handle the error here, e.g., display an error message
            }
        }
    }
    //_______________________________________________________________________
    
    private async Task DeletePost(int selectedPostId)
    {
        await postService.DeletePost(selectedPostId);
        NavMgr.NavigateTo("/ViewPosts", true);
    }
    
    

}