@page "/ViewPosts"
@using Domain.Models
@using UIComponents
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

<h3>All Posts</h3>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Todos to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Title</th>
            <th>Post</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr @onclick="()=>ShowPopUp(item)">
                <td>@item.Owner.Username</td>
                <td>@item.Title</td>
                <td>@item.Body</td>
            </tr>
        }
        </tbody>
    </table>
}
<Modal ShowModal="showModal">
    <p>@selectedPost.Title</p>
    <p>@selectedPost.Owner.Username</p>
    <p>@selectedPost.Owner.Id</p>
    <p>@selectedPost.Owner.Email</p>
    <p>@selectedPost.Owner.Age</p>
    <p>@selectedPost.Body</p>
    <p>@selectedPost.DateTime</p>
    <button @onclick="@GoOn">Go Back</button>
</Modal>

@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    private bool showModal;
    private Post selectedPost;
    private IEnumerable<Post> posts;
    private string msg;

    private async Task LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(null,null,null);
            Console.WriteLine(posts);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg=e.Message;
        }
    }

    private void ShowPopUp(Post post)
    {
        showModal = true;
        selectedPost = post;
    }

    private void GoOn()
    {
        showModal = false;
    }
}